<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Allen's Blog</title>
    <meta name="keywords" content="个人博客"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/web/css/base.css" rel="stylesheet">
    <link href="/static/web/css/index.css" rel="stylesheet">
    <link href="/static/web/css/m.css" rel="stylesheet">
    <script src="/static/web/js/jquery.min.js"></script>
    <script src="/static/web/js/jquery.easyfader.min.js"></script>
    <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="topnav">
        <nav>
            <ul>
                <li><a href="#">网站首页</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">模板分享</a></li>
                <li><a href="#">学无止境</a></li>
                <li><a href="#">慢生活</a></li>
                <li><a href="#">博客导航</a></li>
                <li><a href="#">留言</a></li>
            </ul>
        </nav>
    </div>
</header>
<article>
    <div class="banner">
        <div id="sucaihuo" class="fader"><img class="slide" src="/static/web/images/banner01.jpg"> <img class="slide"
                                                                                                        src="/static/web/images/banner02.jpg">
            <img class="slide" src="/static/web/images/banner03.jpg">
            <div class="fader_controls">
                <div class="page prev" data-target="prev">&lsaquo;</div>
                <div class="page next" data-target="next">&rsaquo;</div>
                <ul class="pager_list">
                </ul>
            </div>
        </div>
        <script>
            $(function () {
                $('#sucaihuo').easyFader();
            });
        </script>
    </div>

    <div class="newblogs">
        <h2 class="hometitle">最新文章</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <h3 class="blogtitle">
                        <span>
                            <a href="{{ url_for('web.info',id=article.id) }}" title="css3" class="classname">个人博客</a>
                        </span>
                        <a href="{{ url_for('web.info',id=article.id) }}">{{ article.title }}</a>
                    </h3>
                    <div class="bloginfo">
                        <span class="blogpic">
                            <a href="{{ url_for('web.info',id=article.id) }}">
                                <img src="/static/web/images/t01.jpg"/>
                            </a>
                        </span>
                        <p>{{ article.desc }}</p>
                    </div>
                    <div class="autor">
                        <span class="lm f_l"></span>
                        <span class="dtime f_l">{{ article.create_time }}</span>
                        <span class="viewnum f_l">浏览（<a href="#">1429</a>）</span>
                        <span class="f_r"><a href="{{ url_for('web.info',id=article.id) }}" class="more">阅读原文>></a></span>
                    </div>
                    <div class="line"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="rbox">
        <div class="links">
            <h2 class="hometitle">友情链接</h2>
            <ul>
                <li><a href="https://devilguoxu.github.io/">Hexo Blog</a></li>
                <li><a href="https://github.com/devilGuoXu">GitHub</a></li>
                <li><a href="https://gitee.com/Angela1215">Gitee</a></li>
            </ul>
        </div>
        <div class="weixin">
            <h2 class="hometitle">官方微信</h2>
            <ul>
                <img src="/static/web/images/wx.jpg">
            </ul>
        </div>
    </div>
</article>
<footer>
    <p>Design by <a href="/">郭旭个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
